<% unless @reflection.collection? %>
  $('a[resource="<%= @resource.record_id %>"][picas="<%= @picas_name %>"]').find('.glyphicon-ok').remove();
<% end %>
$('a[resource="<%= @resource.record_id %>"][pic="<%= @picture.record_id %>"][picas="<%= @picas_name %>"]').append('<span class="glyphicon glyphicon-ok pull-right"></span>');

<% if @picas_name.in?(%w{logo}) %>
  $('*[resource="<%= @resource.record_id %>"]').find('img.<%= @picas_name %>').attr('src', '<%= @resource.send(@picas_name + "_picture").src.url(:thumb) %>');
<% end %>