<%= page_title "Идея", :subtitle => [@idea.person, I18n.l(@idea.created_at, :format => :long)].compact.join  %>

<section class="section">
    <div class="container">
				<h2 class="big-title"><%= @idea %></h2>
        <div class="space-sm"></div>
				<%= @idea.details %>
    </div>
</section>
		
<% content_for :switcher do %>
	<%= link_to 'Редактировать', edit_idea_path(@idea) %>
	<%= link_to 'Назад', ideas_path %>
<% end %>
