<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @feature.project_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @feature.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feature.description %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @feature.icon %>
</p>

<p>
  <strong>Position:</strong>
  <%= @feature.position %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
