<% if flash.alert %>
  <div class="flash alert alert-danger alert-dismissable fade in text-center">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong><i class="fa fa-warning"></i> <%= t('flash.slogan.wrong') %> </strong>&nbsp;&nbsp;<%= raw flash.alert %>
  </div>
<% elsif flash.notice %>
  <div class="flash alert alert-success alert-dismissable fade in text-center">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong><i class="fa fa-thumbs-up"></i> <%= t('flash.slogan.done') %> </strong>&nbsp;&nbsp;<%= raw flash.notice %>
  </div>
<% else %>
  <% flash.keys.each do |key| %>
     <div class="flash alert alert-info alert-dismissable fade in text-center">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong><i class="fa fa-thumbs-up"></i> <%= t('flash.slogan.info') %> </strong>&nbsp;&nbsp;<%= raw flash[key] %>
    </div>
  <% end %>
<% end %>

<%= script do %>
  $(".flash").alert();
  $(".flash").delay(2000).effect("fade");
<% end %>